---
import { themeConfig } from '@/config'
import { ClientRouter } from 'astro:transitions'

import FaviconThemeSwitcher from '@/components/ui/FaviconThemeSwitcher.astro'
import BackToTop from '@/components/ui/BackToTop.astro'
import GiscusLoader from '@/components/widgets/GiscusLoader.astro'
import TransitionWrapper from '@/components/layout/TransitionWrapper.astro'
import type { LayoutProps } from '@/types'

type Props = LayoutProps

const { type = 'page' } = Astro.props
const language = (themeConfig.site.language || 'en-US').replace('_', '-')
const fadeAnimation = themeConfig.general.fadeAnimation
const isPostLayout = type === 'post'
---

<html lang={language}>
  <head>
    {fadeAnimation && <ClientRouter />}
    <slot name="head" />
  </head>
  <body>
    <FaviconThemeSwitcher />
    {isPostLayout && <GiscusLoader />}
    <BackToTop />

    {
      fadeAnimation ? (
        <TransitionWrapper type={type} class="layout-wrapper">
          <slot />
        </TransitionWrapper>
      ) : (
        <div class="layout-wrapper">
          <slot />
        </div>
      )
    }
  </body>
</html>

<style is:global>
  .layout-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
</style>
